extends layout

block content
  if(user.id)
    h2= user.name
    form.form-horizontal.form-group(action="/login" method="post")
      label.col-lg-2.control-label(for="email")
        input.form-control(type="text" placeholder="email" name="email")
        
      label.col-lg-2.control-label(for="password")
        input.form-control(type="password" class="" name="password" placeholder="senha")
        
      label.col-lg-2.control-label(for="bio")
        textarea.form-control(type="password" class="" name="bio")= user.bio
       
      input(type='submit', value='Atualizar', data-transition='fade', data-theme='c')
      input(type='button')
      input(type='button')