extends layout

block content
  h1 Perguntas frequentes
  -if perguntas.length >0
    each pergunta in perguntas
      h3= ${pergunta.title}
      p= ${pergunta}
  -else
    p Não existe nenhuma pergunta