extends layout
include ./mixins.pug

block content
  +createMainPage('Entrar')
    +form_for('/login', 'post', form)
    hr
    p Ou entre através das redes sociais
    +social_for('/signup', ['soundcloud', 'github'])
      