div.jumbotron(v-if='$parent.autorizado' style='background:transparent !important')
  br
  br
  br
  h2 Postagens

div(v-else)
  h1 401
  p Não Autorizado
  img(src='https://i.pinimg.com/originals/82/62/90/826290d0a78a5d464815e9112abf788a.jpg') 
