extends layout
include ./mixins.pug

block content
  each wiki in wikis
    +createMainPage(wiki.name)
      p= wiki.description
      ul
        each post in wiki.posts
          li
            - var _l = "/wiki/"+(wiki.name.split(" ").join("_"))+"/"+(post.title.split(" ").join("_"))
            a(href=_l)= post.title
    